.inspries{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15%;
    background-color: rgba(154, 168, 177, 1);
    border-radius: 8px;
    gap: 20px;
    &__img{
       display: flex;
       gap: 2px;
       img{
        width: 20px;
       }
    }
}